body {
  margin: 0;
}

.guide {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px 30px;
  font-family: Arial, Helvetica, sans-serif;
  background: #000;
  color: aliceblue;
  font-size: 24px;
  font-weight: 700;
}
